
.chatbot_ai_wrapper {
    position: fixed;
    max-width: 100%;
    z-index: 9999;
    transition: 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    animation-name: scaling;
    animation-duration: 1s;
}

@keyframes scaling {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.chatbot_ai_wrapper.expanded{    
    background-color: #cdcbe5;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;    
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (max-height: 768px){
    .chatbot_ai_wrapper.expanded{            
        height: 335px;
    }
}

@media screen and (max-height: 375px){
    .chatbot_ai_wrapper.expanded{            
        height: 250px;
    }
}

/* container */
.chatbot_ai_wrapper .chatbot_ai_container,
.chatbot_ai_wrapper .chatbot_ai_container p{
    font-size: 12px;
    margin: 5px;
}

.chatbot_ai_wrapper .chatbot_ai_container.expanded{
    background: #ffffff;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    margin: auto;
    border-radius: 5px;
}


/* botton */
.chatbot_ai_wrapper.botton_right {
    right: 6px;
    bottom: 18px;
}
.chatbot_ai_button{
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cdcbe5;
    border: unset;
}

.chatbot_ai_button .message_icon.animated{
    display: block; 
    transition: 0.3s ease-in-out;         
    animation-name: sipzap;
    animation-duration: 0.3s;    
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count:initial;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}

@keyframes sipzap {
    0% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}

.chatbot_ai_button.opened{
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    background: #ffffff;
    border: unset;
}

.chatbot_ai_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 136px;
    transition: 0.3s ease-in-out;
}

.user_name_error{    
    border: 3px solid red !important;    
}

.chatbot_ai_header.chat_started{ 
    height: 0px;   
    transition: 0.3s ease-in-out;
}

.chatbot_ai_body{
    margin: 10px;
}

.chatbot_ai_body.chat_started{
    margin-top: 30px;
    height: 100%;
    max-height: calc(100% - 90px);
    background: #b0e3f7;
    border-radius: 5px;
    overflow: overlay;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.chatbot_ai_image_wrap{    
    width: 100%;
    max-width: 66px;
    margin: auto;
    margin-top: 48px;    
}

@media screen and (max-height: 540px){
    .chatbot_ai_image_wrap{
        margin-top: 15px;    
    }
}

.chatbot_ai_body_input_wrap{
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.chatbot_ai_anchor_reset_chat {
    display: block;
    position: absolute;
    top: 6px;
    left: 12px;
    font-size: 10px;
    color: #6fc2f5;
}

.chatbot_ai_body_input_wrap.chat_started{    
    flex-direction: unset;
    transition: 0.3s ease-in-out;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 30px);
}

.chatbot_ai_body_input_wrap .chatbot_ai_input{
    padding: 5px;
    font-style: italic;
    text-align: center;
}

.chatbot_ai_body_input_wrap .chatbot_ai_input.chat_started{
    width: 100%;
    font-size: 12px;
    font-style: normal;
    text-align: left;
    margin: 0;
}


.chatbot_ai_body_input_wrap .chatbot_ai_btn_start{
    width: 100%;
    max-width: 120px;
    margin: auto;
    cursor: pointer;
    background-color: #6fc2f5;
    font-size: 12px;
    font-weight: bold;
    border:unset;
}
.chatbot_ai_body_input_wrap .chatbot_ai_btn_start.chat_started{
    width: 40px;
    text-align: center;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
    margin: 0;
}

.chatbot_ai_body_input_wrap .chatbot_ai_btn_start:hover{
    opacity: 0.8;
}

/* chat_started messages */

.chatbot_ai_body_message_wrap{
    width: 100%;
}

.chatbot_ai_body_message_wrap .chatbot{
    display: flex;
    flex-direction: column;
    margin-right: auto;   
    width: 100%;
    justify-content: start;
    font-style: italic;
    font-weight: 600;
}

.chatbot_ai_body_message_wrap p span.title{
    color: #b1b1b1;
    font-style: italic;
    font-size: 10px;
}

.chatbot_ai_body_message_wrap .chatbot p{
    margin: 0;
    margin-bottom: 5px;
    background-color: white;
    padding: 0 5px 5px;
    border-radius: 9px;
    max-width: calc(100% - 20px);
}

.chatbot_ai_body_message_wrap .user{    
    display: flex;
    margin-left: auto;
    width: 100%;
    justify-content: end;
}

.chatbot_ai_body_message_wrap .user p{
    margin: 0;
    margin-bottom: 5px;
    background-color: white;
    padding: 0 5px 5px;
    border-radius: 9px;
    max-width: calc(100% - 20px);
}

/* Spinner */

.chatbot_ai_spinner_wrap{
    background-color: #8b8b8b;
    width: 21px;
    height: 12px;
    position: absolute;
    bottom: 72px;
    left: 23px;
    border-radius: 42%;
    display: flex;
    justify-content: center;
    z-index: 100;
    align-items: center;
}

.chatbot_ai_spinner_wrap::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 2px;
    width: 10px;
    height: 10px;
    background: #8b8b8b;
    transform: skew(10deg, 20deg);
    z-index: 0;
}

span.span_spinner {
    background-color: white;
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 50%;
    margin: 0px 1px;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;         
    animation-name: spinner_loader;
    animation-duration: 1s;    
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count:initial;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    transform: translate(0, 0);
}

span.span_spinner:nth-child(1) {
    animation-delay: 0.1s;
}
span.span_spinner:nth-child(2) {
    animation-delay: 0.2s;
}
span.span_spinner:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes spinner_loader {
    0% {transform: translate(0, 0);}     
    50% {transform: translate(0, -2px);}    
    100% {transform: translate(0, 0px);}  
}


/* Start Dark Mode */

.dark .chatbot_ai_btn_start,
.dark .chatbot_ai_body_message_wrap .chatbot p,
.dark .chatbot_ai_body_message_wrap .user p,
.dark .chatbot_ai_body.chat_started,
.dark .chatbot_ai_wrapper.expanded 
{
    background-color: #333 !important;    

}

.dark .chatbot_ai_button,
.dark .chatbot_ai_container,
.dark .chatbot_ai_body_message_wrap
{
    background-color: #484848 !important;
}

/* End Dark Mode */